Android Open Source Project
applications/wine-extension*
CMakeTools
NuGet
Smart Code ltd
Trash
UnityHub
antigen
barrier
calcurse
citra-emu
copyq
desktop-directories
godot
gsettings-data-convert
gvfs-metadata
i3.log
keyrings
lutris
mime
mirage
orage
recently-used*
stig
tmux
unity3d
vimiv
webkitgtk
weechat
xfce4
xorg
yuzu
zathura
zeitgeist
