Android Open Source Project
CMakeTools
KDE
NuGet
Smart Code ltd
Steam
Trash
UnityHub
antigen
applications/bmark-*
applications/mimeinfo.cache
applications/net.lutris.*-*.desktop
applications/wine-extension*
barrier
calcurse
citra-emu
copyq
desktop-directories
fluffychat
godot
gsettings-data-convert
gvfs-metadata
i3.log
icons/hicolor
keyrings
krita*
lf
lftp
lutris
mime
mirage
newsboat
orage
ranger
recently-used*
stig
supertux2
tmux
trackma
unity3d
vimiv
vm
vulkan
webkitgtk
weechat
xfce4
xorg
yuzu
zathura
zeitgeist
