user-dirs.locale
tool_state
settings
QtProject.conf
manjaro-hello.json
csharp.history
yuzu
xfce4
wireshark
VSCodium
VirtualBox
UnityHub
unity3d
Thunar
SoundWire
retroarch
pulse
Postman
midori
menus
manjaro
libreoffice
incscape
godot
GIMP
FortiClient
falkon
Element
Electron
draw.io
configstore
Code - OSS
Code
chromium
blender
