[Desktop Entry]
Type=Application
Name=Alsamixer
Exec=alsamixer
Comment=Advanced linux sound architecture - Mixer
Icon=
Path=
Terminal=true
StartupNotify=false
