[Desktop Entry]
Type=Application
Name=Discord
Exec=gtk-launch web-app https://discordapp.com/channels/@me
Icon=discord
Terminal=false
StartupNotify=false
