[Desktop Entry]
Type=Application
Name=Toggle Fullscreen
Exec=wmctrl -r :ACTIVE: -b toggle,fullscreen
Comment=
Path=
Terminal=false
StartupNotify=false
