[Desktop Entry]
Type=Application
Name=Toggle Maximized
Exec=xdotool getactivewindow windowstate --toggle MAXIMIZED_VERT windowstate --toggle MAXIMIZED_HORZ
Terminal=false
StartupNotify=false
