[Desktop Entry]
Type=Application
Name=Toggle Fullscreen
Exec=xdotool getactivewindow windowstate --toggle FULLSCREEN
Terminal=false
StartupNotify=false
