[Desktop Entry]
Name=Web App
Comment=Access the internet
Exec=chromium --app=%U
TryExec=chromium
# Exec=firefox %U
StartupNotify=true
Terminal=false
Icon=chromium-browser
Type=Application
Categories=Network;WebBrowser;
